$containerRightPosition: 10px;

.alert-queue-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: $containerRightPosition;
  height: 100%;

  &.top {
    flex-direction: column;
  }
  &.bottom {
    flex-direction: column-reverse;
  }
}
