$primaryColor: #F1096A;
$primaryDarkColor: #790535;
$secondaryColor: #0911DB;
$secondaryDarkColor: #05096E;
$tertiaryColor: #6A0EAC;
$tertiaryDarkColor: #350756;
$contrastColor: #F2DD22;
$contrastDarkColor: #000000;
