@import "../style/variables.scss";

$progressHeight: 20px;
$progressUpperShadow: rgba(255, 255, 255, 0.9);
$progressLowerShadow: rgba(0, 0, 0, 0.9);

.meter {
  height: $progressHeight;
  position: relative;
  border-radius: 25px;
  padding: 5px;
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);

  span {
    display: block;
    height: 100%;
    border-radius: 25px;
    box-shadow: inset 0 2px 9px $progressUpperShadow,
      inset 0 -2px 6px $progressLowerShadow;
    position: relative;
    overflow: hidden;
    transition: width 0.4s ease-in-out;
  }

  &.primary-color{
    background: $secondaryDarkColor;
      span{
        background-color: $primaryColor;
      }
  }

  &.secondary-color{
    background: $contrastDarkColor;
      span{
        background-color: $secondaryColor;
      }
  }

  &.tertiary-color{
    background: $secondaryDarkColor;
      span{
        background-color: $tertiaryColor;
      }
  }
  
  &.contrast-color{
    background: $primaryDarkColor;
      span{
        background-color: $contrastColor;
      }
  }

}
